/* Khối chứa form */
.auth-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-content .form-group {
  margin-bottom: 20px;
}

.auth-content label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #444;
}

.auth-content input[type="email"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.auth-content input[type="email"]:focus {
  border-color: #78a9de;
  outline: none;
}

.auth-content button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #6786a7;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-content button[type="submit"]:hover {
  background-color: #2a72c0;
}

/* Phần chân form */
.auth-content .form-footer {
  text-align: center;
  margin-top: 15px;
}

.auth-content .form-footer a {
  color: #82a4c8;
  text-decoration: none;
  font-size: 14px;
}

.auth-content .form-footer a:hover {
  text-decoration: underline;
}

/*-----------------------*/
/* ẩn nhập mã otp , nhập mật khẩu và mật khẩu mới*/

.hidden {
  display: none;
}
.error-message {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}
